@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=DM+Serif+Display:ital@0;1&family=IBM+Plex+Serif:wght@100;200;400&family=Inter:wght@400;500&family=Poppins:wght@400;500&display=swap');

/* ==========================================================================
   Custom styles
   ========================================================================== */

:root {
    --black: #060606;
    --blackish: #121212;
    --white: #eee;
    --greyish: #d7d7d7;
    --pinkish: #fd95d0;
    --dark-grey: rgba(18, 18, 18, 0.7);
    --font: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.4rem;
}

body::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: var(--pinkish);
    border-radius: 3px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

* {
    cursor: none !important;
}

a {
    transition-duration: 200ms;
    color: var(--pinkish);
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 4px;
}

a:hover {
    /* color: var(--white); */
    background: rgba(200, 200, 200, 0.2) none repeat scroll 0% 0%;
}

a:focus {
    background: rgba(200, 200, 200, 0.2) none repeat scroll 0% 0%;
    text-decoration: underline;
    outline: none;
    /* stupid */
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--font),
        sans-serif;
    overflow-x: hidden;

    color: var(--white);

    background-color: var(--black);
}

.fade {
    opacity: 0;
}


#appMount {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    transition-duration: 1s;

}

#gradient-canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    --gradient-color-1: #a960ee;
    --gradient-color-2: #ff333d;
    --gradient-color-3: #90e0ff;
    --gradient-color-4: #ffcb57;
    z-index: 0;
}

#noiseBg {
    animation: grain 4s steps(10) infinite;
    background: url("/img/noise.png");
    height: 300%;
    width: 300%;
    left: -50%;
    top: -125%;
    opacity: 0;
    position: fixed;
    z-index: 1000;

    pointer-events: none
}

#cursor {
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    mix-blend-mode: difference;
    /* filter */
    background-color: var(--white);
    /*filter: invert(100%);*/
    width: 20px;
    height: 20px;
    position: fixed;
    border-radius: 50%;

    pointer-events: none;
    z-index: 9999;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* position: relative; */
    z-index: 1;
}

.title {
    user-select: none;

    font-size: 135px;
    /*font-weight: 600;*/

    /*font-family: 'DM Sans', var(--font);*/
    /*letter-spacing: -5px;*/
    font-family: 'DM Serif Display', var(--font);
    animation: fade-in-top cubic-bezier(0.23, 0.66, 0.19, 0.99) 1.5s forwards;

    line-height: 0.8;
}

.title strong {
    color: var(--pinkish);
}

.skillContainer {
    margin-top: 50px;
}

.skillLogo {
    width: 50px;
    height: 100%;
}

#html {
    animation: fade-in-top cubic-bezier(0.23, 0.66, 0.19, 0.99) 1.2s forwards;
}

#css {
    animation: fade-in-top cubic-bezier(0.23, 0.66, 0.19, 0.99) 1.4s forwards;
}

#js {
    animation: fade-in-top cubic-bezier(0.23, 0.66, 0.19, 0.99) 1.6s forwards;
}

#ts {
    animation: fade-in-top cubic-bezier(0.23, 0.66, 0.19, 0.99) 1.8s forwards;
}

#cpp {
    animation: fade-in-top cubic-bezier(0.23, 0.66, 0.19, 0.99) 2s forwards;
}

#mongo {
    animation: fade-in-top cubic-bezier(0.23, 0.66, 0.19, 0.99) 2.2s forwards;
}

#java {
    animation: fade-in-top cubic-bezier(0.23, 0.66, 0.19, 0.99) 2.4s forwards;
}

#blender {
    animation: fade-in-top cubic-bezier(0.23, 0.66, 0.19, 0.99) 2.6s forwards;
}

#figma {
    animation: fade-in-top cubic-bezier(0.23, 0.66, 0.19, 0.99) 2.8s forwards;
}

.about {
    width: 500px;
}

.quote {
    font-family: 'IBM Plex Serif', var(--font);
    margin-top: 36px;
    animation: slide-in-left cubic-bezier(0.23, 0.66, 0.19, 0.99) 1.7s forwards;
    text-align: justify;

    line-height: 1.7;
    font-size: 16px;
}

#keylabs {
    color: var(--white) !important;
    margin-top: 36px;
    animation: fade-in-bottom cubic-bezier(0.23, 0.66, 0.19, 0.99) 2s forwards;
    /* text-align: justify; */
    text-align: center;

    line-height: 1.7;
    font-size: 16px;
}

.quoteAuthor {
    font-family: 'IBM Plex Serif', var(--font);
    margin-top: 12px;
    animation: slide-in-right cubic-bezier(0.23, 0.66, 0.19, 0.99) 1.7s forwards;

    line-height: 1.5;
    font-size: 16px;
    text-align: right;
}


.footer {
    display: flex;
    user-select: none;
    flex-direction: column;

    position: fixed;

    bottom: 10px;
    left: 10px;
    z-index: 2;

    animation: fade-in-bottom cubic-bezier(0.23, 0.66, 0.19, 0.77) 0.5s forwards;
    animation-delay: 0.2s;
}

.footerText strong {
    color: var(--pinkish);
}

.footerText {
    color: var(--white);
    font-size: 12px;
}

.navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    top: 1.5%;
    left: 0.75%;
    position: fixed !important;

    padding: 5px 6px 8px 6px;
    user-select: none;

    z-index: 999;

    /*width: 220px;*/

    background: rgba(200, 200, 200, 0.2);
    border-radius: 5px;

    animation: fade-in-top cubic-bezier(0.23, 0.66, 0.19, 0.77) 0.5s forwards;
}

.navLinks {
    /* transition-duration: 500ms; */

    /* display: none; */
    flex-direction: row;
    justify-content: space-around;
    /*width: 180px;*/

    margin-left: 6px;
    margin-right: 10px;
}

.navLogo, .socialsLogo {
    padding: 3px 3px;
    /* width: 20px; */

    animation: fade-in-top cubic-bezier(0.23, 0.66, 0.19, 0.77) 0.7s forwards;
}

.socialsLogo {
    width: 300px;
    overflow: visible;
    animation: wobble 4s ease-in-out infinite alternate;

    margin-bottom: 80px;
    filter: drop-shadow(0px 0px 25px var(--pinkish));
}

.navLogo {
    width: 20px;
}

.navLinks a {
    color: var(--greyish);
    text-decoration: none;
    font-size: 14px;
}

.navLinks a:hover {
    background: none;
    color: var(--pinkish);
}

/* .navContainer:hover .navLinks {
    display: flex;
} */

.navLink {
    transition-duration: 200ms;
    color: var(--white);
    margin-right: 6px;
}

.navLink:last-child {
    margin-right: 0;
}

.hidden {
    display: none !important;
}

@keyframes slide-in-right {
    from {
        filter: blur(20px);
        transform: translateX(100%) scale(0.85);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-in-left {
    from {
        filter: blur(20px);
        transform: translateX(-100%) scale(0.85);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-top {
    from {
        transform: translateY(-30px) scale(0.85);
        filter: blur(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(0);
    }
}

@keyframes fade-in-left {
    from {
        transform: translateX(-30px) scale(0.85);
        filter: blur(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0) scale(1);
        filter: blur(0);
    }
}

@keyframes fade-in-bottom {
    from {
        transform: translateY(30px) scale(0.85);
        filter: blur(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(0);
    }
}

@keyframes fade-in-right {
    from {
        transform: translateX(30px) scale(0.85);
        filter: blur(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0) scale(1);
        filter: blur(0);
    }
}

@keyframes expand {
    from {
        transform: rotate(50deg);
        height: 0;
    }

    to {
        transform: rotate(-50deg);

        height: 500px;
    }
}

@keyframes curtain {
    from {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(100%);
    }

    60% {
        transform: translateX(0%);

    }

    70% {
        transform: translateX(0%);

    }

    to {
        transform: translateX(100%);
    }
}

@keyframes infiniteScroll {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}

@keyframes infiniteScrollGhost {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes grain {
    0%, 100% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -10%)
    }

    20% {
        transform: translate(-15%, 5%)
    }

    30% {
        transform: translate(7%, -25%)
    }

    40% {
        transform: translate(-5%, 25%)
    }

    50% {
        transform: translate(-15%, 10%)
    }

    60% {
        transform: translate(15%, 0%)
    }

    70% {
        transform: translate(0%, 15%)
    }

    80% {
        transform: translate(3%, 35%)
    }

    90% {
        transform: translate(-10%, 10%)
    }
}

@keyframes bounce-y1 {
    from {
        transform: translate(0%, 0%);
    }

    to {
        transform: translate(0%, -10%);
    }
}

@keyframes bounce-y2 {
    from {
        transform: translate(0%, 0%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes wobble {
    from {
        transform: rotate(-6deg);
    }

    to {
        transform: rotate(6deg);
    }
}