@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=DM+Serif+Display:ital@0;1&family=IBM+Plex+Serif:wght@100;200;400&family=Inter:wght@400;500&family=Poppins:wght@400;500&display=swap');

/* ==========================================================================
   Custom styles
   ========================================================================== */

:root {
    --black: #060606;
    --blackish: #121212;
    --white: #eee;
    --greyish: #d7d7d7;
    --pinkish: #fd95d0;
    --dark-grey: rgba(18, 18, 18, 0.7);
    --font: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.4rem;
}

body::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: var(--pinkish);
    border-radius: 3px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

* {
    cursor: none !important;
}

a {
    transition-duration: 200ms;
    color: var(--pinkish);
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 4px;
}

a:hover {
    /* color: var(--white); */
    background: rgba(200, 200, 200, 0.2) none repeat scroll 0 0;
}

a:focus {
    background: rgba(200, 200, 200, 0.2) none repeat scroll 0 0;
    text-decoration: underline;
    outline: none;
    /* stupid */
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--font),
    sans-serif;
    overflow: hidden;

    color: var(--white);

    background-color: var(--black);
}

.fade {
    opacity: 0;
}


#appMount {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    transition-duration: 1s;

}

#gradient-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    --gradient-color-1: #1cadc7;
    --gradient-color-2: #775ced;
    --gradient-color-3: #7038ff;
    --gradient-color-4: #db40ec;
    z-index: 0;
}

#noiseBg {
    animation: grain 4s steps(10) infinite;
    background: url("/img/noise.png");
    height: 300%;
    width: 300%;
    left: -50%;
    top: -125%;
    opacity: 0;
    position: fixed;
    z-index: 1000;

    pointer-events: none
}

#cursor {
    transition-duration: 1.4s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    mix-blend-mode: difference;
    /* filter */
    background-color: var(--white);
    /*filter: invert(100%);*/
    width: 20px;
    height: 20px;
    position: fixed;
    border-radius: 50%;

    pointer-events: none;
    z-index: 9999;
}

.content {
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    /* position: relative; */
    z-index: 1;
}

.scrollContainer {
    position: relative;
    /* width: 100vw; */
    height: 100vh;
    overflow-y: hidden;
}

.contactHeader {
    font-size: 185px;
    margin-top: 20%;
    margin-right: 600px;

    font-family: "DM Serif Display", var(--font);

    animation: slide-in-left cubic-bezier(0.23, 0.66, 0.19, 0.99) 1.5s forwards;
}

.contactHeader strong {
    color: var(--pinkish);
}

.contactHeader::after {
    content: "contact.";
    display: flex;

    font-family: "DM Serif Display", var(--font);
    font-size: 185px;
    font-weight: 1000;

    transform: rotateX(180deg) translateY(50%);
    background: rgba(200, 200, 200, 0.15);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /*animation: fade-in-top cubic-bezier(0.23, 0.66, 0.19, 0.77) 0.5s forwards;*/
    /*filter: blur(5px);*/

}

.socialsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    animation: infiniteScroll 15s linear infinite;
}

.socialsContainerMirror {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    animation: infiniteScrollGhost 15s linear infinite;
}

.socialComponent {
    color: var(--white);

    margin-top: 15px;
    width: 400px;

    height: 140px;
    background: rgba(200, 200, 200, 0.2);
    /*box-shadow: var(--blackish) 0 0 20px;*/
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 200ms;

    animation: slide-in-right cubic-bezier(0.23, 0.66, 0.19, 0.99) 1.5s forwards;
    opacity: 0.75;
}

.socialComponent:hover {
    transform: scale(1.03) !important;
}

.socialComponent:focus {
    text-decoration: none;
}

.discord:hover {
    background: #5865F2;
    filter: drop-shadow(0px 0px 20px #5865F2);
}

.twitter:hover {
    background: #1DA1F2;
    filter: drop-shadow(0px 0px 20px #1DA1F2);
}

.email:hover {
    background: #ea4335;
    filter: drop-shadow(0px 0px 20px #ea4335);
}

.ig {
    position: relative;
    z-index: 1;
}

.ig::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    border-radius: 10px;
    z-index: -1;
    transition: opacity ease-in-out 200ms;
    opacity: 0;

    filter: drop-shadow(0px 0px 20px #e6683c);
}

.ig:hover::before {
    opacity: 1;
}

.github:hover {
    background: var(--pinkish);
    filter: drop-shadow(0px 0px 20px var(--pinkish));
}

.spotify:hover {
    background: #1ed760;
    filter: drop-shadow(0px 0px 20px #1ed760);
}

.socialsScroll {
    position: absolute;
    top: 0;
    right: -65%;
    width: 100%;
    height: 100%;
    margin-bottom: -50%;
}

.componentHeader {
    margin-left: auto;
    margin-right: 40px;
    height: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.componentTitle {
    font-size: 18px;

    font-family: 'DM Serif Display', var(--font);

    text-align: right;
}

.componentDescription {
    text-align: right;
    font-size: 16px;
    font-family: 'Consolas', var(--font);
    background-color: rgba(200, 200, 200, 0.1);
    padding: 7px;
    border-radius: 10px;
}

.componentLogo {
    width: 45px;
    margin-left: 40px;
    /* align-self: flex-end; */
    justify-self: baseline;
}

.footer {
    display: flex;
    user-select: none;
    flex-direction: column;

    position: absolute;

    bottom: 10px;
    left: 10px;
    z-index: 2;

    animation: fade-in-bottom cubic-bezier(0.23, 0.66, 0.19, 0.77) 0.5s forwards;
    animation-delay: 0.2s;
}

.footerText strong {
    color: var(--pinkish);
}

.footerText {
    color: var(--white);
    font-size: 12px;
}

.navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    top: 1.5%;
    left: 0.75%;
    position: fixed !important;

    padding: 5px 6px 8px 6px;
    user-select: none;

    z-index: 999;

    /*width: 220px;*/

    background: rgba(200, 200, 200, 0.2);
    border-radius: 5px;

    animation: fade-in-top cubic-bezier(0.23, 0.66, 0.19, 0.77) 0.5s forwards;
}

.navLinks {
    /* transition-duration: 500ms; */

    /* display: none; */
    flex-direction: row;
    justify-content: space-around;
    /*width: 180px;*/

    margin-left: 6px;
    margin-right: 10px;
}

.navLogo, .socialsLogo {
    padding: 3px 3px;
    /* width: 20px; */

    animation: fade-in-top cubic-bezier(0.23, 0.66, 0.19, 0.77) 0.7s forwards;
}

.socialsLogo {
    width: 300px;
    overflow: visible;
    animation: wobble 4s ease-in-out infinite alternate;

    margin-bottom: 80px;
    filter: drop-shadow(0px 0px 25px var(--pinkish));
}

.navLogo {
    width: 20px;
}

.navLinks a {
    color: var(--greyish);
    text-decoration: none;
    font-size: 14px;
}

.navLinks a:hover {
    background: none;
    color: var(--pinkish);
}

/* .navContainer:hover .navLinks {
    display: flex;
} */

.navLink {
    transition-duration: 200ms;
    color: var(--white);
    margin-right: 6px;
}

.navLink:last-child {
    margin-right: 0;
}

.hidden {
    display: none !important;
}

@keyframes slide-in-right {
    from {
        filter: blur(20px);
        transform: translateX(100%) scale(0.85);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-in-left {
    from {
        filter: blur(20px);
        transform: translateX(-100%) scale(0.85);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-top {
    from {
        transform: translateY(-30px) scale(0.85);
        filter: blur(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(0);
    }
}

@keyframes fade-in-left {
    from {
        transform: translateX(-30px) scale(0.85);
        filter: blur(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0) scale(1);
        filter: blur(0);
    }
}

@keyframes fade-in-bottom {
    from {
        transform: translateY(30px) scale(0.85);
        filter: blur(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(0);
    }
}

@keyframes fade-in-right {
    from {
        transform: translateX(30px) scale(0.85);
        filter: blur(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0) scale(1);
        filter: blur(0);
    }
}

@keyframes expand {
    from {
        transform: rotate(50deg);
        height: 0;
    }

    to {
        transform: rotate(-50deg);

        height: 500px;
    }
}

@keyframes curtain {
    from {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(100%);
    }

    60% {
        transform: translateX(0%);

    }
    70% {
        transform: translateX(0%);

    }

    to {
        transform: translateX(100%);
    }
}

@keyframes infiniteScroll {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

@keyframes infiniteScrollGhost {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes grain {
    0%, 100% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -10%)
    }

    20% {
        transform: translate(-15%, 5%)
    }

    30% {
        transform: translate(7%, -25%)
    }

    40% {
        transform: translate(-5%, 25%)
    }

    50% {
        transform: translate(-15%, 10%)
    }

    60% {
        transform: translate(15%, 0%)
    }

    70% {
        transform: translate(0%, 15%)
    }

    80% {
        transform: translate(3%, 35%)
    }

    90% {
        transform: translate(-10%, 10%)
    }
}

@keyframes bounce-y1 {
    from {
        transform: translate(0%, 0%);
    }

    to {
        transform: translate(0%, -10%);
    }
}

@keyframes bounce-y2 {
    from {
        transform: translate(0%, 0%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes wobble {
    from {
        transform: rotate(-6deg);
    }

    to {
        transform: rotate(6deg);
    }
}