@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=DM+Serif+Display:ital@0;1&family=IBM+Plex+Serif:wght@100;200;400&family=Inter:wght@400;500&family=Poppins:wght@400;500&display=swap');

/* ==========================================================================
   Custom styles
   ========================================================================== */

:root {
    --black: #060606;
    --blackish: #121212;
    --white: #eee;
    --greyish: #d7d7d7;
    --pinkish: #fd95d0;
    --dark-grey: rgba(18, 18, 18, 0.7);
    --font: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    cursor: none !important;
}

a {
    transition-duration: 200ms;
    color: var(--pinkish);
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 4px;
}

a:hover {
    /* color: var(--white); */
    background: rgba(200, 200, 200, 0.2) none repeat scroll 0;
}

a:focus {
    background: rgba(200, 200, 200, 0.2) none repeat scroll 0;
    text-decoration: underline;
    outline: none;
    /* stupid */
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--font),
    sans-serif;
    overflow: hidden;

    color: var(--white);

    background-color: var(--black);
}

.fade {
    opacity: 0;
}

#appMount {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    transition-duration: 1s;
}

#gradient-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    --gradient-color-1: #ef008f;
    --gradient-color-2: #fb9209;
    --gradient-color-3: #c989ff;
    --gradient-color-4: #547cff;
    z-index: 0;
}

#noiseBg {
    animation: grain 4s steps(10) infinite;
    background: url("/img/noise.png");
    height: 300%;
    width: 300%;
    left: -50%;
    top: -125%;
    opacity: 0;
    position: fixed;
    z-index: 1000;

    pointer-events: none
}

#threeCanvas {
    display: block;
    position: absolute;
    margin-left: 85vh;
    margin-bottom: 9.5rem;
    z-index: 0;

    /*min-wid=: 150vw;*/
}

#cursor {
    transition-duration: 1.4s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    mix-blend-mode: difference;
    /* filter */
    background-color: var(--white);
    /*filter: invert(100%);*/
    width: 20px;
    height: 20px;
    position: fixed;
    border-radius: 50%;

    pointer-events: none;
    z-index: 9999;
}

#curtain {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--black);

    right: 0;

    z-index: 999;

    animation: curtain 3s cubic-bezier(0.83, 0.15, 0.82, 0.19) forwards;
}

.content {
    height: 100vh;
    /*height: 100%;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;

    /*transform: translateX(200px);*/

    /*margin-top: 200px;*/
    /*margin-right: 30vw;*/
}

.desc {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    /*transform: translate(-25vw, -60px);*/
    /*margin-right: 250px;*/
}

.title {
    /*transform: translate(10vw);*/
}

.titleName, .bigTitleName {
    user-select:none;

    font-size: 156px;
    /*font-weight: 600;*/

    /*font-family: 'DM Sans', var(--font);*/
    /*letter-spacing: -5px;*/
    font-family: 'DM Serif Display', var(--font);
    animation: slide-in-left cubic-bezier(0.23, 0.66, 0.19, 0.99) 1.5s forwards;

    line-height: 0.8;
}


.bigTitleName {
    animation-duration: 1.3s;
    animation-delay: 0.3s;
    font-size: 164px;
}

.titleName strong {
    color: var(--pinkish);
}

.titleDescription, .titleAbout {
    text-align: right;
    user-select: none;

    width: 27rem;
    margin-top: 8px;
    font-size: 14px;
    overflow-wrap: normal;

    animation: slide-in-right cubic-bezier(0.23, 0.66, 0.19, 0.99) 1.5s forwards;
    /*animation: fade-in-top cubic-bezier(0.23, 0.66, 0.19, 0.77) 0.5s forwards;*/
    animation-delay: 0.05s;
}

.titleSocials {
    text-align: right;
    user-select: none;

    margin-top: 10px;
    font-size: 12px;

    animation: slide-in-right cubic-bezier(0.23, 0.66, 0.19, 0.99) 1.5s forwards;
    /*animation: fade-in-top cubic-bezier(0.23, 0.66, 0.19, 0.77) 0.8s forwards;*/
    animation-delay: 0.2s;
}

.titleAbout {
    overflow-wrap: normal;
    margin-top: -15px;
    width: 30rem;
    font-weight: 650;
    animation-delay: 0.1s;
}

.titleBio {
    /* margin-top: 10px; */
    color: var(--white);
    font-size: 14px;
    /* text-wrap: normal; */
    width: 22rem;
}

.disableRender {
    align-self: flex-end;
    width: 40px;

    margin-bottom: 20px;
}

.line {
    border-right: 3px var(--white) solid;
    height: 0;
    transform: rotate(-50deg);

    animation: expand 1s cubic-bezier(0.23, 0.66, 0.19, 0.99) forwards;
    animation-delay: 0.6s;
}

.eye {
    display: flex;
    flex-direction: column;

    position: fixed;
    bottom: 15px;
    right: 15px;

    z-index: 2;

    animation: fade-in-bottom cubic-bezier(0.23, 0.66, 0.19, 0.77) 0.5s forwards;
    animation-delay: 1s;

    background-color: var(--blackish);
    border-radius: 50%;
    padding: 10px;
}

#eye, #eyeSlash {
    margin: 0;
    /* there's random margin here idk why */
    width: 30px;
}

.footer {
    display: flex;
    user-select: none;
    flex-direction: column;

    position: absolute;

    bottom: 10px;
    left: 10px;
    z-index: 2;

    animation: fade-in-bottom cubic-bezier(0.23, 0.66, 0.19, 0.77) 0.5s forwards;
    animation-delay: 0.2s;
}

.footerText strong {
    color: var(--pinkish);
}

.footerText {
    color: var(--white);
    font-size: 12px;
}

.navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    top: 1.5%;
    left: 0.75%;
    position: fixed !important;

    padding: 5px 6px 8px 6px;
    user-select: none;

    z-index: 999;

    /*width: 220px;*/

    background: rgba(200, 200, 200, 0.2);
    border-radius: 5px;

    animation: fade-in-top cubic-bezier(0.23, 0.66, 0.19, 0.77) 0.5s forwards;
}

.navLinks {
    /* transition-duration: 500ms; */

    /* display: none; */
    flex-direction: row;
    justify-content: space-around;
    /*width: 180px;*/

    margin-left: 6px;
    margin-right: 10px;
}

.navLogo, .socialsLogo {
    padding: 3px 3px;
    /* width: 20px; */

    animation: fade-in-top cubic-bezier(0.23, 0.66, 0.19, 0.77) 0.7s forwards;
}

.socialsLogo {
    width: 300px;
    overflow: visible;
    animation: wobble 4s ease-in-out infinite alternate;

    margin-bottom: 80px;
    filter: drop-shadow(0px 0px 25px var(--pinkish));
}

.navLogo {
    width: 20px;
}

.navLinks a {
    color: var(--greyish);
    text-decoration: none;
    font-size: 14px;
}

.navLinks a:hover {
    background: none;
    color: var(--pinkish);
}

/* .navContainer:hover .navLinks {
    display: flex;
} */

.navLink {
    transition-duration: 200ms;
    color: var(--white);
    margin-right: 6px;
}

.navLink:last-child {
    margin-right: 0;
}

.hidden {
    display: none !important;
}

@keyframes slide-in-right {
    from {
        filter: blur(20px);
        transform: translateX(100%) scale(0.85);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-in-left {
    from {
        filter: blur(20px);
        transform: translateX(-100%) scale(0.85);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-top {
    from {
        transform: translateY(-30px) scale(0.85);
        filter: blur(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(0);
    }
}

@keyframes fade-in-left {
    from {
        transform: translateX(-30px) scale(0.85);
        filter: blur(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0) scale(1);
        filter: blur(0);
    }
}

@keyframes fade-in-bottom {
    from {
        transform: translateY(30px) scale(0.85);
        filter: blur(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(0);
    }
}

@keyframes fade-in-right {
    from {
        transform: translateX(30px) scale(0.85);
        filter: blur(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0) scale(1);
        filter: blur(0);
    }
}

@keyframes expand {
    from {
        opacity: 0;
        transform: rotate(50deg);
        height: 0;
    }

    to {
        transform: rotate(-50deg);
        opacity: 1;
        height: 500px;
    }
}

@keyframes curtain {
    from {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(100%);
    }

    60% {
        transform: translateX(0%);

    }
    70% {
        transform: translateX(0%);

    }

    to {
        transform: translateX(100%);
    }
}

@media screen and (max-width: 1200px) {
    #threeCanvas {
        margin-left: 0;
    }
}

@media screen and (max-width: 900px) {
    .content {
        position: absolute;
        /*bottom: 10%;*/
        /*left: 10%;*/
        /*margin-right: 0;*/
        flex-direction: column;
    }

    .title {
        /*visibility: hidden;*/
        /*left: 10%;*/
        /*top: 10%;*/
        /*position: fixed !important;*/
        margin: 0;
    }

    .titleName, .bigTitleName {
        text-align: center !important;
        white-space: pre-wrap;
        font-size: 20vw;
        line-height: 0.8;
    }

    .desc {
        margin-top: 30px;
        align-items: center;
        justify-content: center;
    }

    .line {
        height: 0;
        transform: rotate(90deg) !important;
        margin-top: -200px;
        margin-bottom: -230px;
    }

    .titleDescription {
        margin-top: 0;
        width: 220px;
        text-align: center !important;

    }

    .titleDescription strong {
        /*margin-top: 10px;*/
        width: 250px;
        line-height: 1.6;
    }

    .titleBio, .titleSocials, .titleAbout {
        overflow-wrap: normal;
        width: 250px;
        text-align: center !important;
    }

    .titleSocials {
        width: 272px;
    }
}

@keyframes grain {
    0% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -10%)
    }

    20% {
        transform: translate(-15%, 5%)
    }

    30% {
        transform: translate(7%, -25%)
    }

    40% {
        transform: translate(-5%, 25%)
    }

    50% {
        transform: translate(-15%, 10%)
    }

    60% {
        transform: translate(15%, 0%)
    }

    70% {
        transform: translate(0%, 15%)
    }

    80% {
        transform: translate(3%, 35%)
    }

    90% {
        transform: translate(-10%, 10%)
    }
}