@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;200;400&family=Inter:wght@400;500&family=Poppins:wght@400;500&display=swap');

:root {
    --black: #060606;
    --blackish: #121212;
    --white: #eee;
    --greyish: #d7d7d7;
}

* {
    cursor: none !important;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
    overflow: hidden;

    color: var(--white);

    /*background-color: var(--black);*/
}

.fade {
    opacity: 0;
}

#appMount {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    transition-duration: 1s;
}

#threeCanvas {
    position: absolute;
    margin-left: 85vh;
    margin-bottom: 9.5rem;
    z-index: -1;

    width: 150vw;
}

#cursor {
    transition-duration: 1.4s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    mix-blend-mode: difference; /* filter */
    background-color: white;
    /*filter: invert(100%);*/
    width: 20px;
    height: 20px;
    position: fixed;
    border-radius: 50%;

    pointer-events: none;
    z-index: 9999;
}

#curtain {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--black);

    right: 0;

    z-index: 999;

    animation: curtain 1s cubic-bezier(0.83, 0.15, 0.82, 0.19) forwards;
}

.content {
    position: relative;
    z-index: 1;

    margin-top: 200px;
    margin-right: 30vw;
}

.titleName {
    font-size: 95px;
    font-weight: 600;

    animation: fade-in-top cubic-bezier(0.23, 0.66, 0.19, 0.77) 0.3s forwards;
    animation-delay: 0.6s;
}

.titleDescription {
    width: 27rem;
    margin-top: -30px;
    font-size: 14px;

    animation: fade-in-top cubic-bezier(0.23, 0.66, 0.19, 0.77) 0.5s forwards;
    animation-delay: 0.7s;
}

.titleSocials {
    margin-top: 10px;
    font-size: 12px;

    animation: fade-in-top cubic-bezier(0.23, 0.66, 0.19, 0.77) 0.8s forwards;
    animation-delay: 0.8s;
}

.titleDescription strong {
    font-weight: 650;
    line-height: 3;
    /*line-height: ;*/
}

.titleBio {
    margin-top: 0;
    color: var(--white);
    font-size: 14px;
    text-wrap: normal;
    width: 22rem;
}

.disableRender {
    align-self: flex-end;
    width: 40px;

    margin-bottom: 20px;
}

.footer {
    display: flex;
    flex-direction: column;

    position: absolute;

    bottom: 1.5%;
    left: 1.5%;
    z-index: 2;

    animation: fade-in-bottom cubic-bezier(0.23, 0.66, 0.19, 0.77) 0.5s forwards;
    animation-delay: 0.2s;
}

.eye {
    display: flex;
    flex-direction: column;

    position: absolute;
    bottom: 1%;
    right: 0.7%;

    z-index: 2;

    animation: fade-in-bottom cubic-bezier(0.23, 0.66, 0.19, 0.77) 0.5s forwards;
    animation-delay: 1s;

    background-color: var(--blackish);
    border-radius: 50%;
    padding: 10px;
}

#eye, #eyeSlash {
    margin: 0; /* there's random margin here idk why */
    width: 30px;
}

.navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    top: 1.5%;
    left: 0.75%;
    position: fixed !important;

    padding: 5px 6px 5px 6px;

    /*width: 220px;*/

    background-color: var(--blackish);
    border-radius: 40px;
}

.navLinks {
    flex-direction: column;
    justify-content: space-around;
    /*width: 180px;*/

    margin-left: 10px;
    margin-right: 10px;
}

.navLogo {
    width: 25px;

    animation: fade-in-top cubic-bezier(0.23, 0.66, 0.19, 0.77) 0.7s forwards;
}


.navLinks a {
    text-decoration: none;
    font-size: 14px;
}

.navLinks a:hover {
    color: var(--white);
    text-decoration: underline;
}

.navLink {
    color: var(--greyish);
    padding-right: 6px;
}

.navLink:last-child {
    padding-right: 0;
}

.footerText {
    font-size: 12px;
    color: var(--greyish);
}

.hidden {
    display: none !important;
}

@keyframes fade-in-top {
    from {
        transform: translateY(-30px) scale(0.85);
        filter: blur(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(0);
    }
}

@keyframes fade-in-bottom {
    from {
        transform: translateY(30px) scale(0.85);
        filter: blur(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(0);
    }
}

@keyframes curtain {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }

}


@media screen and (max-width: 1000px) {
    .content {
        position: absolute;
        bottom: 10%;
        left: 10%;
        margin-right: 0;
    }
    .titleName {
        position: fixed;
        top: 5%;
        font-size: 10vw;
    }

    .titleDescription {
        margin-top: 0;
        width: 15rem;
    }

    .titleDescription strong {
        /*margin-top: 10px;*/
        line-height: 1.6;
    }

    .titleBio {
        width: 15rem;
    }

    .titleSocials {
        width: 15rem;
    }
}