@import url('../public/morganite/style.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    font-size: 16px;
    --black: #060606;
    --blackish: #121212;
    --white: #fff;
    --greyish: #d7d7d7;
    --dark-green: #747D62;
    --light-green: #A4AC86;
    --brown: #7F5858;
    --dark-grey: rgba(18, 18, 18, 0.7);
    --header-font: "Morganite Black", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    --body-font: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
}

body {
    overflow-x: hidden;

}

#appMount {
    transition-duration: 1s;
}

::-webkit-scrollbar {
    width: 7px;
    background: #61701f;
}

::-webkit-scrollbar-thumb {
    background: white;
}

#landing {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.content {
    position: relative;
    top: 100%;
    width: 100%;
    height: 120vh;
    background: var(--white);

    margin-top: -50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#firstSectionHeading {
    color: var(--brown);
    font: 10em "Inter";
    font-weight: 900;

    transform: translateX(-110%);
    text-align: center;
    /* margin-top: 50px; */
    /* animation: slide-in-bottom 1.7s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; */
    /* transition: 2s all ease; */
}

.firstSectionWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* margin-top: 30px; */

    max-width: 1000px;
}

#firstSectionText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-left: 50px;
    text-align: left;

    transform: translateX(160%);
}

#firstSectionDescription {
    margin-top: 20px;
    transform: translateX(200%);
}

#secondSectionText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-right: 50px;
    text-align: right;

    transform: translateX(-160%);
}

#secondSectionDescription {
    margin-top: 20px;
    transform: translateX(-200%);
}

#secondSectionHeading {
    color: var(--brown);
    font: 10em "Inter";
    font-weight: 900;

    transform: translateX(110%);
    text-align: center;
    margin-top: 50px;
    /* animation: slide-in-bottom 1.7s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; */
    /* transition: 2s all ease; */
}

.secondSectionWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* margin-top: 30px; */

    max-width: 880px;
}

.secondSectionText {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#thirdSectionText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    /* margin-right: 50 px; */
    text-align: center;

    transform: translateX(-160%);
}

#thirdSectionDescription {
    margin-top: 20px;
    transform: translateX(200%);
}

#thirdSectionHeading {
    color: var(--brown);
    font: 10em "Inter";
    font-weight: 900;

    transform: translateX(110%);
    text-align: center;
    margin-top: 50px;
    /* animation: slide-in-bottom 1.7s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; */
    /* transition: 2s all ease; */
}

.thirdSectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* margin-top: 30px; */

    max-width: 700px;
}

.thirdSectionText {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#fourthSectionText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    /* margin-right: 50 px; */
    text-align: center;

    transform: translateX(-160%);
}

#fourthSectionDescription {
    margin-top: 20px;
    transform: translateX(200%);
}

#fourthSectionHeading {
    color: var(--brown);
    font: 10em "Inter";
    font-weight: 900;

    transform: translateX(110%);
    text-align: center;
    margin-top: 50px;
    /* animation: slide-in-bottom 1.7s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; */
    /* transition: 2s all ease; */
}

.fourthSectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* margin-top: 30px; */

    max-width: 700px;
}

.fourthSectionText {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#chicken {
    height: 200px;
    margin-top: 40px;
    fill: var(--dark-green);
    transform: translateY(100%);
}

#chartSvg {
    height: 400px;
    margin-top: 40px;
    transform: translateY(100%);

}

.statWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.statHeader {
    color: var(--dark-green);
    font: 48px "Inter";
    font-weight: 900;
    margin-right: 10px;

    white-space: nowrap;
}

.statNumber {
    color: var(--dark-green);
    font: 72px "Inter";
    font-weight: 900;
    margin-right: 10px;

    white-space: nowrap;
}

.stat {
    color: var(--dark-green);
    font: 24px "Inter";
    font-weight: 500;
}

.text {
    color: var(--dark-green);
    font: 24px "Inter";
    font-weight: 500;
}

#firstSectionText {
    margin-top: 10px;
    margin-left: 50px;
    text-align: left;

    transform: translateX(160%);
}

#firstSectionDescription {
    margin-top: 20px;
    transform: translateX(200%);
}

#protoSvg {
    height: 50vh;

    transform: translateY(100%);
}

#protoSvg2 {
    height: 40vh;

    transform: translateY(100%);
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('../public/img/bg.png');
    /* animation: shrink 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; */
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 1;

    /* animation: shrink-2 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; */
}

#header {
    display: flex;
    margin-top: -20%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#headerText {
    color: var(--white);
    font: 27em var(--header-font);

    /* animation: slide-in-bottom 1.7s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; */
    /* transition: 2s all ease; */
}

#separator {
    height: 67.5%;
    border: 2px solid var(--white);
    margin: 2.5em;
    /* animation: slide-in-bottom 3s cubic-bezier(.49, .79, 0, .99) forwards; */
    /* animation-delay: 0.5s; */
}

#subheader {
    display: flex;
    flex-direction: column;
}

.headerSubtext {
    color: var(--white);
    font: 3em "Inter";
    font-weight: 900;
}

#description {
    /* animation: fade-in-top 3s cubic-bezier(0.23, 0.66, 0.19, 0.77) 0.7s forwards; */
    position: absolute;
    bottom: 15%;
    z-index: 2;
    font: 1.5em "Inter";
    color: var(--white)
}

#arrow {
    /* animation: fade-in-top 4s     cubic-bezier(0.23, 0.66, 0.19, 0.77) 1.2s forwards; */
    position: absolute;
    bottom: 8%;
    z-index: 2;
    color: var(--white);
    height: 1.5em;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

#footerText {
    color: var(--dark-green);
    font: 20px "Inter";
    font-weight: 900;
}

@keyframes fade-in-top {
        from {
            opacity: 0;
            transform: translateY(-30px);
            /* filter: blur(10px); */
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes shrink {
        from {
            transform: scale(1.1);
        }

        to {
            transform: scale(1);
        }
    }

    @keyframes shrink-2 {
        from {
            transform: scale(1.2);
        }

        to {
            transform: scale(1);
        }
    }

    @keyframes slide-in-bottom {
        from {
            opacity: 1;
            transform: translateY(100%);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slide-in-top {
        from {
            opacity: 1;
            transform: translateY(-10%);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slide-in-right {
        from {
            opacity: 1;
            transform: translateX(200%);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }